.printHeader {
  @media screen {
    display: none;
  }
}

.header {
  @mixin a-bg-custom20;

  padding-block-start: 0.875rem;
  padding-block-end: 0.875rem;
  min-height: 3.75rem;

  @media print {
    display: none;
  }

  @mixin respond theme("screens.100") {
    @mixin a-bg-custom10;

    padding-block-start: 2.125rem;
    padding-block-end: 2.125rem;
    min-height: 6.25rem;
  }
}

.inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  @mixin respond theme("screens.100") {
    padding-inline-start: var(--container-v-padding-sm);
    padding-inline-end: var(--container-v-padding-sm);
  }
}

.left {
  display: flex;
  align-items: center;

  @mixin respond theme("screens.100") {
    --button-secondary-bg-color: var(--color-custom20);
  }
}

.installatioName {
  margin-inline-end: var(--grid-column-gap);
  margin-block-end: 0.1875rem;

  &--with-text {
    @mixin respond theme("screens.80") {
      max-width: 33vw;
      margin-inline-end: var(--grid-column-gap-sm);
    }
  }

  @mixin respond theme("screens.70") {
    display: none;
  }
}

.right {
  display: flex;
  align-items: center;
  margin-inline-start: auto;

  @mixin respond theme("screens.100") {
    display: none;
  }

  > * + * {
    margin-inline-start: 1.75rem;
  }
}

.mobileRight {
  display: flex;
  align-items: center;
  margin-left: auto;

  @mixin respond theme("screens.100"), min {
    display: none;
  }
}

.mobileList {
  padding-block-start: 1.875rem;

  > * + * {
    margin-block-start: 2.1875rem;
  }
}
