.form {
  padding-block-start: 1.25rem;
  padding-block-end: 1.25rem;
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;
  max-width: 48rem;
  width: calc(100vw - var(--padding-sm) * 2);
}
.selectLabel {
  flex: 1 0 auto;
  padding-block-end: 0.1875rem;
}

.selectWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--grid-column-gap-sm);
  align-items: center;

  @mixin respond theme("screens.30") {
    grid-template-columns: auto;
  }
}
