.nav {
  --container-v-padding: 0;

  padding-block-start: var(--container-padding-md);
}

.list {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  overflow-x: auto;
}

.item {
  & + & {
    margin-inline-start: var(--padding-lg);
  }
}

.tab {
  display: inline-block;
  padding-block-end: var(--padding-sm);
  border-bottom: 2px solid transparent;
  color: var(--color-light);
  transition: border theme(transitionDuration.DEFAULT)
    theme(transitionTimingFunction.DEFAULT);

  @mixin t-label-sm;

  &:focus {
    outline: none;
  }

  &[aria-current],
  a:focus-visible & {
    border-bottom-color: var(--color-base);
    color: var(--color-base);
  }

  a:focus-visible & {
    text-shadow: theme("boxShadow.focusShadow");
  }

  &:hover {
    color: var(--color-lighter);
    border-bottom-color: var(--color-lighter);
    cursor: pointer;
  }

  a:focus-visible &,
  a:hover & {
    box-shadow: none;
  }
}
