.columns {
  --grid-row-gap: var(--padding-xl);
  --grid-column-gap: 0;

  @mixin l-grid;

  padding-block-end: var(--container-padding-md);
  @mixin fluidScalePx padding-block-start, 46px, 40px;

  @mixin respond theme("screens.50") {
    --grid-row-gap: var(--padding-xs);
  }

  :not(div:has(img)) + section & {
    border-top: 1px solid;
  }
}

.left {
  grid-column: 1 / 8;
  display: flex;

  &--wide {
    grid-column: 1 / 9;
  }

  @mixin respond theme("screens.100") {
    grid-column: 1 / -1;
  }

  @mixin respond theme("screens.50") {
    flex-direction: column;
    padding-block-end: var(--padding-md);
  }
}

.thumbnail {
  margin-inline-end: 2.375rem;
  flex-shrink: 0;
  @mixin fluidScalePx flex-basis, 225px, 180px;

  @mixin respond theme("screens.50") {
    margin-block-end: 2.625rem;
    flex: 1 1 100%;
  }
}

.right {
  grid-column: 10 / -1;

  @mixin respond theme("screens.100") {
    grid-column: 1 / -1;
    padding-block-start: var(--padding-rg);
    border-top: 1px solid var(--border-color);
  }
}

.sidebar {
  > * + * {
    margin-block-start: var(--padding-rg);
  }
}

.text {
  width: 100%;

  > * + * {
    margin-block-start: var(--padding-md);
  }
}

.titleWrapper {
  margin-block-end: 1.5rem;
}

.subheader {
  padding-inline-end: var(--padding-md);

  > * + * {
    margin-inline-start: 0.75rem;
  }

  @mixin respond theme("screens.70"), min {
    display: inline-block;
  }

  &__aside {
    color: var(--color-base-neutral70);
  }
}

.metadata {
  display: block;
  color: var(--color-base-neutral70);
  margin-block-end: 0.325rem;
}

.summary {
  margin-block-end: 1.5rem;
}

.contributors {
  margin-block-end: 0.325rem;
}

.subtitle {
  display: block;
  margin-block-start: 0.25rem;
}
