.toggle {
  display: flex;
  align-items: center;
}

.label {
  display: block;
  margin-inline-end: 0.75rem;
  border-bottom: 2px solid transparent;
  transition: border theme("transitionDuration.DEFAULT")
    theme("transitionTimingFunction.DEFAULT");

  button:hover &,
  button:focus-visible & {
    border-bottom-color: var(--color-lighter);
  }

  @mixin respond theme("screens.30") {
    display: none;
  }
}
