.wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  z-index: 1000;
  inset-block: 0;
  inset-inline-end: 0;
  transform: translateX(100%);
  overflow-y: auto;

  @media (prefers-reduced-motion: reduce) {
    opacity: 0;
    transition: var(--opacity-transition);
  }

  @keyframes slide-drawer-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes slide-drawer-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  &[data-leave] {
    animation: slide-drawer-out 0.3s cubic-bezier(0.61, 1, 0.88, 1) forwards;

    @media (prefers-reduced-motion: reduce) {
      animation-duration: 0s;
    }
  }

  &[data-enter] {
    animation: slide-drawer-in 0.3s cubic-bezier(0.61, 1, 0.88, 1) forwards;

    @media (prefers-reduced-motion: reduce) {
      animation-duration: 0s;
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-height: 100px;
  padding-inline-start: var(--container-v-padding-sm);
  padding-inline-end: var(--container-v-padding-sm);
}

.content {
  flex: 1 1 auto;
  padding-inline-start: var(--container-v-padding-sm);
  padding-inline-end: var(--container-v-padding-sm);
  padding-block-end: var(--container-v-padding-sm);
}

.inner {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block-start: 1.875rem;
  padding-block-end: 2.125rem;
}
