.wrapper {
  display: flex;

  > * + * {
    padding-inline-start: 1.75rem;
  }
}

.image {
  display: inline-block;
  flex: none;
  height: auto;
}

.text {
  > * + * {
    margin-block-start: 12px;
  }
}

.info {
  > * + * {
    margin-block-start: 0.125rem;
  }
}

.metadata {
  display: flex;

  > * + * {
    &::before {
      content: "•";
      padding-inline-start: var(--padding-xs);
      padding-inline-end: var(--padding-xs);
    }
  }
}
