.inner {
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-xxl);
}

.header {
  margin-block-end: var(--padding-xl);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: var(--grid-column-gap-xl);
  row-gap: var(--grid-row-gap-xl);

  @mixin respond theme("screens.50") {
    grid-template-columns: 1fr;
  }
}
