.item {
  display: flex;
  gap: var(--padding-lg);
  @mixin respond theme("screens.50") {
    flex-direction: column;
  }

  section:not(:global(.a-bg-neutral90)) &:not(:last-child):not(&--browse) {
    border-bottom: none;
    padding-block-end: var(--padding-md);
  }

  &:not(&--browse) + &:not(&--browse) {
    padding-block-start: var(--padding-md);
  }

  &--browse {
    padding-block-end: 1.875rem;
    margin-block-end: 3px;

    & + & {
      border-top: 1px solid var(--color-base-neutral40);
      padding-block-start: 1.75rem;
    }
  }
}

.coverImage {
  min-width: 120px;

  @mixin respond theme("screens.50") {
    max-width: 160px;
  }
}

.text {
  flex: 1 1 100%;
  font-size: var(--font-size-base-sm);
}

.headerGroup {
  margin-block-end: 0.25rem;

  &:not(:first-child) {
    margin-block-start: 0.75rem;
  }
}

.header {
  a:hover &,
  a:focus-visible & {
    text-decoration: underline;
  }
}

.subheader {
  display: block;
  font-size: var(--font-size-base);
  color: var(--color-lighter);
  margin-block-start: 0.25rem;
  font-style: italic;
}

.contributors {
  display: block;
  font-weight: var(--font-weight-medium);
}

.summary {
  margin-block-start: 1rem;
  color: var(--color-lighter);

  pre {
    white-space: pre-wrap;
  }
}

.group {
  color: var(--color-lighter);

  > span {
    display: block;
  }

  > * + * {
    margin-block-start: 0.25rem;
  }
}

.readMore {
  @mixin t-label-sm;

  margin-block-start: 0.75rem;
  display: flex;
  inline-size: max-content;
}
