.container {
  padding-block: var(--container-padding-md);
  padding-block-end: var(--container-padding-lg);

  &:last-child {
    padding-block-end: var(--container-padding-xxl);
  }
}

.list {
  --grid-col-count: 4;

  @mixin l-grid;

  padding-block-start: var(--padding-xl);
  grid-column-gap: var(--padding-xl);
  grid-row-gap: var(--padding-lg);

  @mixin respond theme("screens.100") {
    --grid-col-count: 2;
    grid-row-gap: var(--padding-lg);
  }

  @mixin respond theme("screens.50") {
    grid-template-columns: 1fr;
  }
}
