.wrapper {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;

  > * + * {
    margin-block-start: var(--padding-md);
  }
}

.document {
  display: flex;
}

.pages {
  max-width: 100%;
  flex: 1 1 auto;

  > * + * {
    margin-block-start: var(--container-padding-lg);
  }
}

.backToTop {
  position: sticky;
  bottom: var(--padding-lg);
  text-align: right;
  padding-inline-end: var(--padding-rg);
}
