.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-md);
  padding-inline-start: var(--container-v-padding);
  padding-inline-end: var(--container-v-padding);
  border: 1px dashed var(--border-color);
  border-radius: var(--border-radius-md);
  color: var(--color-lighter);
  text-align: center;

  &--inline {
    display: block;
    padding-block: var(--padding-xs);
    padding-inline: var(--container-padding-xs);
    min-height: auto;
    width: max-content;
    border-radius: var(--border-radius-sm);

    p {
      font-size: var(--font-size-base);
    }
  }

  a {
    color: var(--color-dark);
    text-decoration: underline;
  }

  p {
    white-space: pre-wrap;
    line-height: 1.5;
  }
}
