.block {
  padding: var(--container-padding-md);
  display: grid;
  grid-template-columns: 200px repeat(3, 1fr);
  grid-template-rows: auto minmax(400px, 1fr);
  grid-template-areas:
    "controls controls controls controls"
    "stats chart chart chart";
  gap: 45px;
  background-color: var(--color-custom10);
  margin-block: var(--container-padding-md);
  border-radius: 12px;
  overflow: hidden;
  max-width: 100%;

  @mixin respond theme("screens.100") {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "controls"
      "chart"
      "stats";
    gap: 30px;
  }

  @mixin respond theme("screens.50") {
    padding-inline: var(--container-padding-sm);
  }

  @mixin respond theme("screens.30") {
    padding-inline: var(--container-padding-xs);
  }
}

.loading {
  grid-area: chart;
  display: flex;
  justify-content: center;
  align-items: center;
}
