.grid {
  display: grid;
  position: relative;
  max-inline-size: theme("maxWidth.max");
  margin-inline-start: auto;
  margin-inline-end: auto;
  grid-template-columns: 1fr 1fr;
  @mixin fluidScalePx min-block-size, 490px, 200px;

  @mixin respond theme("screens.80") {
    grid-template-columns: 60% 40%;
    min-block-size: auto;
  }

  @mixin respond theme("screens.60") {
    grid-template-columns: auto;
  }

  &--noImage {
    min-block-size: auto;

    > div {
      padding-block-end: 0;
    }
  }
}
