.contributorWrapper {
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-md);

  > * + * {
    margin-block-start: var(--padding-xl);
  }
}

.name {
  display: flex;
  align-items: center;

  > * + * {
    padding-inline-start: var(--padding-rg);
  }
}

.bioLink {
  & + & {
    margin-block-start: var(--padding-xxs);
  }
}

.contributions {
  &__wrapper {
    padding-block-start: var(--container-padding-md);
    padding-block-end: var(--container-padding-xxl);
  }

  &__header {
    margin-block-end: var(--padding-xl);
  }

  &__list {
    max-width: 48rem;
  }

  &__item {
    & + & {
      margin-block-start: var(--padding-xl);
    }
  }
}
