.wrapper {
  --alert-bg-color: var(--color-base-redTint);
  --alert-text-color: var(--color-base-redAlert);

  color: var(--alert-text-color);
  background-color: var(--alert-bg-color);
  padding-block: 0.75rem;
  padding-inline: var(--padding-rg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border: 1px solid;
  border-radius: var(--border-radius-xs);
  width: max-content;

  &--badge {
    padding-block: var(--padding-xs);
    padding-inline: 0.875rem;
  }

  &--blue {
    --alert-bg-color: var(--color-base-blueTint);
    --alert-text-color: var(--color-base-blueAlert);
  }

  &--green {
    --alert-bg-color: var(--color-base-greenTint);
    --alert-text-color: var(--color-base-greenAlert);
  }
}
