.label {
  display: flex;
  align-items: start;

  &__text {
    cursor: pointer;

    input:disabled + & {
      cursor: default;
    }
  }
}

.icon {
  --checkbox-fill: var(--color-base-neutral00);
  cursor: pointer;
  display: inline-block;
  margin-inline-end: 0.5rem;
  margin-block-start: 0.1875rem;

  [data-path-name="check"] {
    color: transparent;
  }

  input:hover + & {
    color: var(--color-light);
    --checkbox-fill: var(--color-custom10);
  }

  input:checked + & {
    [data-path-name="check"] {
      color: var(--current-color);
    }
  }

  input:disabled + & {
    color: var(--color-lighter);
    cursor: default;
  }

  input:focus-visible + & {
    box-shadow: theme("boxShadow.focusGlow");
  }
}
