.item {
  & + & {
    margin-block-start: 1.25rem;
  }

  &::before {
    flex-shrink: 0;
    margin-inline-end: 0.875rem;
  }

  > * + * {
    margin-inline-start: 0.75rem;
  }
}

.contextOne {
  color: var(--color-base-neutral70);
}
