.item {
  font-weight: theme("fontWeight.medium");

  & + & {
    margin-block-start: 1.25rem;
  }

  > a {
    display: flex;
    align-items: start;

    > svg {
      flex-shrink: 0;
      margin-block-start: 2px;
    }

    > * + * {
      margin-inline-start: 0.75rem;
    }
  }
}

.contextOne {
  color: var(--color-base-neutral70);
}
