.row {
  --BrowseTreeItem-level: 1;
  @mixin fluidScalePx --BrowseTreeItem-row-margin-left, 50px, 25px;

  position: relative;
  margin-inline-start: calc(
    var(--BrowseTreeItem-row-margin-left) * (var(--BrowseTreeItem-level) - 1)
  );

  > * + * {
    margin-block-start: 0.25rem;
  }
}
