.form {
  @mixin a-button;
  @mixin t-label-mix;

  display: flex;
  align-items: stretch;
  height: 2rem;
  width: 100%;
  padding-block-start: 0.375rem;
  padding-block-end: 0.5rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;

  background: var(--button-secondary-bg-color);
  color: var(--button-secondary-text-color);
  border-radius: theme("borderRadius.xl");

  &:has(input:focus-visible) {
    background: var(--button-secondary-bg-focus-color);
    box-shadow: 0px 0px 0px 1px var(--border-color-focus),
      theme("boxShadow.focusGlow");
    outline: none;
  }
}

.label {
  margin-inline-end: 0.75rem;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.input {
  @mixin a-input-reset;
  @mixin t-truncate;

  flex: 1 1 auto;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: var(--color-base-neutral70);
  }
}

.submit {
  display: flex;
  align-items: center;

  &:focus {
    outline: none;
  }

  &:not(:focus-visible) {
    opacity: 0;
    pointer-events: none;
  }
}
