.imageLink {
  display: inline-block;
  flex: none;
  height: auto;

  &:hover > * {
    background: var(--button-secondary-bg-hover-color) !important;
    color: var(--button-secondary-text-hover-color) !important;
    transition: color 170ms ease-in, background 170ms ease-in,
      opacity 170ms ease-in;
  }
}
