.button {
  @mixin a-button;

  justify-content: center;
  border-radius: 50%;
  width: var(--search-button-size);
  height: var(--search-button-size);
  background: var(--button-secondary-bg-color);
  color: var(--button-secondary-text-color);

  &:hover:not(:focus) {
    background: var(--button-secondary-bg-hover-color);
    color: var(--button-secondary-text-hover-color);
  }

  &:focus {
    outline: none;
  }

  button:focus-visible &,
  &:focus-within,
  &:focus-visible {
    background: var(--button-secondary-bg-focus-color);
    box-shadow: 0px 0px 0px 1px var(--border-color-focus),
      theme("boxShadow.focusGlow");
    outline: none;
  }
}
