.summary {
  @mixin t-label-lg;

  display: flex;
  align-items: center;
  list-style: none;

  > * + * {
    margin-inline-start: 0.625rem;
  }

  > span {
    border-bottom: 2px solid transparent;
    transition: border theme("transitionTimingFunction.DEFAULT")
      theme("transitionDuration.DEFAULT");
  }

  > svg {
    margin-block-start: -2px;
  }

  > svg[data-open] {
    display: none;
  }

  details[open] & {
    > svg[data-open] {
      display: block;
    }

    > svg[data-closed] {
      display: none;
    }
  }

  &:hover,
  &:focus-visible {
    color: var(--color-light);
    outline: none;

    > span {
      border-bottom-color: var(--color-lighter);
    }
  }
}

.list {
  padding-inline-start: 1.25rem;
  padding-block-start: var(--padding-rg);
}

.item {
  @mixin t-copy-sm;

  white-space: nowrap;

  & + & {
    margin-block-start: var(--padding-rg);
  }
}
