.banner {
  padding-block-start: 2.25rem;
  padding-block-end: 2.25rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  > * + * {
    margin-inline-start: 1.25rem;
  }
}

.buttons {
  > * + * {
    margin-inline-start: 0.75rem;
  }
}
