.section {
  overflow: visible;
  display: flex;
  align-items: flex-start;
}

.children {
  flex: 1 1 auto;
}

.button {
  position: sticky;
  top: 0;
  width: 0;
  height: calc(100vh - var(--container-padding-md));
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  white-space: nowrap;

  &[hidden] {
    display: none;
  }

  @media print {
    display: none;
  }
}
