.legend {
  @mixin t-label-sm;

  min-height: 1.875rem;
  margin-bottom: 1.25rem;
  padding-top: 0.25rem;
  border-bottom: 1px solid var(--border-color);
}

.fields {
  > * + * {
    margin-block-start: 1.25rem;
  }
}
