.block {
  @media screen {
    border-radius: var(--border-radius-md);
    padding-block-start: 2.75rem;
    padding-inline-start: 3.25rem;
    padding-inline-end: 3.25rem;
    padding-block-end: 3.25rem;
    align-self: start;
  }
}

.header {
  padding-block-end: 0.75rem;
  border-bottom: 1px solid var(--border-color);
}

.item {
  padding-block-start: var(--padding-md);
  padding-block-end: var(--padding-md);
  border-bottom: 1px solid var(--border-color);
}

.itemContent {
  padding-block-start: var(--padding-xs);
  padding-block-end: 0.75rem;
}
