.grid {
  padding-block-start: var(--container-padding-lg);
  padding-block-end: var(--container-padding-lg);

  --grid-col-count: 12;
  --grid-row-gap: 1rem;
  --grid-column-gap: 1rem;
  @mixin l-grid;

  @mixin respond theme("screens.100") {
    grid-row-gap: var(--container-padding-md);
    grid-column-gap: var(--container-padding-sm);
  }
  @mixin respond theme("screens.60") {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.content {
  grid-column: span 7;

  @mixin respond theme("screens.60") {
    grid-column: 1;
    grid-row: 1;
  }
}

.announcements {
  grid-column: 9 / span 4;

  @mixin respond theme("screens.100") {
    grid-column: 8 / span 5;
  }
  @mixin respond theme("screens.60") {
    grid-column: 1;
    grid-row: 2;
  }
}

.noContent {
  padding-block: var(--container-padding-md);
}
