.wrapper {
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-xxl);
}

.inner {
  max-width: 768px;
}

.loading {
  min-height: 40vh;
  padding-block-start: 20%;
}
