.wrapper {
  position: relative;

  &--block {
    display: flex;
  }
}

.input {
  @mixin a-input-reset;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0px 0px 0px 1px var(--border-color-focus),
      theme("boxShadow.focusGlow");
  }

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-xs);
  width: 100%;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  padding-block-start: 8px;
  padding-block-end: 8px;
  background: var(--color-base-neutral00);

  &::-webkit-calendar-picker-indicator {
    outline-offset: 1px;
    border-radius: 4px;
    outline-width: 1px;
    outline-color: var(--border-color-focus);
  }
}
