.outer {
  padding-block-start: var(--container-padding-xs);
  padding-block-end: var(--container-padding-xs);

  @media print {
    display: none;
  }
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.shareLink {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
