.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  min-height: 400px;
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-lg);
  padding-inline-start: var(--container-v-padding);
  padding-inline-end: var(--container-v-padding);
  border: 1px dashed var(--border-color);
  border-radius: var(--border-radius-md);
  text-align: center;

  a {
    color: var(--color-dark);
    text-decoration: underline;
  }
}
