.nav {
  padding-block-start: 2.25rem;
  padding-block-end: 2.25rem;
  min-height: 6.5rem;

  @media print {
    display: none;
  }
}

.inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @mixin respond theme("screens.60") {
    flex-direction: column;
  }
}

.left {
  flex-basis: auto;
  flex-grow: 1;

  @mixin respond theme("screens.60") {
    text-align: center;
  }
}

.right {
  flex-basis: calc(25% - 0.5rem);
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  margin-left: auto;

  @mixin respond theme("screens.100") {
    flex-basis: 30%;
  }
  @mixin respond theme("screens.60") {
    flex-basis: 100%;
    margin-left: 0;
  }

  @media print {
    display: none;
  }
}
