.nav {
  display: flex;
  align-items: center;

  > * + * {
    margin-inline-start: var(--padding-rg);
  }
}

.prevNextButton {
  --Button-bg-color: var(--button-secondary-bg-color);
  --Button-color: var(--button-secondary-text-color);
  --Button-hover-bg-color: var(--button-secondary-bg-hover-color);
  --Button-hover-color: var(--button-secondary-text-hover-color);
  --Button-focus-color: var(--button-secondary-bg-focus-color);

  @mixin a-button;

  padding: 0.75rem;
  border-radius: 0.25rem;

  background: var(--Button-bg-color);
  color: var(--Button-color);

  &:disabled {
    opacity: 0.35;
  }

  &:hover:not(:focus) {
    background: var(--Button-hover-bg-color);
    color: var(--Button-hover-color);
  }

  &:focus {
    outline: none;
  }

  &:focus-within,
  &:focus-visible {
    background: var(--Button-focus-color);
    box-shadow: 0px 0px 0px 1px var(--border-color-focus),
      theme("boxShadow.focusGlow");
    outline: none;
  }
}

.input {
  border: 1px solid var(--color-base-neutral60);
  border-radius: 0.25rem;
  padding: 0.5rem;
  padding-inline-end: 1px;
  min-width: 2.5rem;

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
  }

  &:focus-visible,
  &:focus-within {
    box-shadow: 0px 0px 0px 1px var(--border-color-focus),
      theme("boxShadow.focusGlow");
  }
}
