.wrapper {
  border-radius: 50%;
  background: var(--accent-color);
  overflow: hidden;
  width: var(--Avatar-size);
  height: var(--Avatar-size);
  transition: box-shadow theme("transitionTimingFunction.DEFAULT")
      theme("transitionDuration.DEFAULT"),
    border theme("transitionTimingFunction.DEFAULT")
      theme("transitionDuration.DEFAULT");

  a:hover & {
    @mixin a-image-hover;
  }

  a:focus-visible & {
    @mixin a-image-focus;
  }
}
