.wrapper {
  display: flex;
  align-items: center;
}

.disclosure {
  display: flex;
  align-items: center;
}

.icon {
  margin-inline-start: var(--padding-sm);
}

.name {
  @mixin a-link-base;
  @mixin t-copy-sm;

  margin-inline-start: var(--padding-sm);

  button:hover &,
  button:focus-visible & {
    @mixin a-link-hover-focus;
  }

  @mixin respond theme("screens.100") {
    @mixin t-label-mix;

    order: -1;
    margin-inline-end: var(--padding-sm);
  }

  &[data-condensed="true"] {
    @mixin respond theme("screens.100") {
      display: none;
    }
  }
}
