.grid {
  --grid-col-count: 12;
  --grid-row-gap: 0;
  --grid-column-gap: 0;

  @mixin l-grid;

  @mixin respond theme("screens.70") {
    grid-template-columns: 100%;
  }

  > * {
    grid-column: 1 / span 12;

    @mixin respond theme("screens.70") {
      grid-column: 1;
    }
  }

  > *[data-half] {
    grid-column: 2 / span 7;

    @mixin respond theme("screens.100") {
      grid-column: 1 / span 8;
    }

    @mixin respond theme("screens.70") {
      grid-column: 1;
    }
  }

  > *[data-half] + *[data-half] {
    grid-column: 10 / span 2;

    @mixin respond theme("screens.100") {
      grid-column: 10 / span 3;
    }

    @mixin respond theme("screens.70") {
      grid-column: 1;
    }
  }
}
