.wrapper {
  display: flex;
  align-items: stretch;
  height: 3.25rem;
  margin-block-end: var(--padding-lg);
  background: var(--color-custom10);
  border-radius: theme("borderRadius.sm");
}

.input {
  @mixin a-input-reset;

  flex: 1 1 auto;
  appearance: none;
  width: 100%;
  border: none;
  background: transparent;
  padding-inline-end: var(--padding-sm);

  &:focus {
    outline: none;
  }

  &:autofill {
    background: transparent;
  }
}

.label {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
}

.button {
  display: inline-flex;
  align-items: center;
  background: var(--button-secondary-bg-color);
  color: var(--button-secondary-text-color);
  transition: color theme("transitionTimingFunction.DEFAULT")
      theme("transitionDuration.DEFAULT"),
    background theme("transitionTimingFunction.DEFAULT")
      theme("transitionDuration.DEFAULT"),
    opacity theme("transitionTimingFunction.DEFAULT")
      theme("transitionDuration.DEFAULT");
  flex: 0 0 auto;
  justify-content: center;
  background: var(--color-custom20);
  border-top-right-radius: theme("borderRadius.sm");
  border-bottom-right-radius: theme("borderRadius.sm");
  width: 3.5rem;

  &:disabled {
    opacity: 0.35;
  }

  &:hover:not(:focus) {
    background: var(--button-secondary-bg-hover-color);
    color: var(--button-secondary-text-hover-color);
  }

  &:focus-visible {
    outline: none;
    background: var(--button-secondary-bg-focus-color);
    box-shadow: 0px 0px 0px 1px var(--border-color-focus),
      theme("boxShadow.focusGlow");
  }
}
