.wrapper {
  --SquareThumbnail-size: 10rem;

  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-sm);
  height: var(--SquareThumbnail-size);
  width: var(--SquareThumbnail-size);
}

.img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
