.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  grid-area: controls;

  @mixin respond theme("screens.100") {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 12px;
    column-gap: 24px;
  }

  @mixin respond theme("screens.60") {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.linkText {
  @mixin a-link-base;

  display: inline;

  button:hover &,
  button:focus-visible & {
    @mixin a-link-hover-focus;
  }
}
