.inner {
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-lg);
  display: flex;
  flex-wrap: wrap;
}

.search {
  flex: 1 0 100%;
}

.sidebar {
  flex-basis: 278px;
  flex-grow: 1;
  padding-inline-end: var(--container-v-padding);

  @mixin respond theme("screens.70") {
    display: none;
  }
}

.filterToggle {
  display: none;
  flex: 1 0 100%;
  margin-block-end: var(--padding-lg);

  @mixin respond theme("screens.70") {
    display: block;
  }
}

.results {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 60%;
  max-width: 823px;
}
