.item {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  padding: 1.25rem;
  background: var(--color-base-neutral90);
  color: var(--color-base-neutral00);
  transition: background theme("transitionTimingFunction.DEFAULT")
    theme("transitionDuration.DEFAULT");
  min-block-size: 15.625rem;

  &:hover,
  &:focus-within {
    background: var(--color-base-neutral80);
  }

  :global(.a-bg-neutral90) & {
    background: var(--color-base-neutral80);

    &:hover,
    &:focus-within {
      background: var(--color-base-neutral20);
      color: var(--color-base-neutral90);
    }
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
  object-position: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline-start: 1.25rem;
  padding-inline-end: 1.25rem;
  text-align: center;
  block-size: 100%;
  font-size: var(--font-size-base-sm);
  z-index: 5;
  position: relative;

  a:focus-visible & {
    box-shadow: 0px 0px 0px 1px var(--border-color-focus),
      theme("boxShadow.focusGlow");
    outline: none;
  }
}

.header {
  margin-block: 0.75rem;
}

.group {
  > span {
    display: block;
  }

  > * + * {
    margin-block-start: 0.25rem;
  }

  &:not(:first-child) {
    margin-block-start: 0.5rem;
  }
}
