.nav {
  padding-block-start: 2.25rem;
  padding-block-end: 2.25rem;
  min-height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @mixin respond theme("screens.100") {
    display: none;
  }

  @media print {
    display: none;
  }
}

.right {
  display: flex;
  align-items: center;

  > * + * {
    margin-inline-start: 2.25rem;
  }
}
