.backdrop {
  position: fixed;
  /* Center align short modals on the x-axis */
  display: flex;
  inset-block: 0;
  inset-inline: 0;
  z-index: var(--z-index-modal);
  background: rgba(0, 0, 0, 0.7);
}

.wrapper {
  position: absolute;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  /* Center align modals on the y-axis */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  /* Padding so modal doesn't bump up against browser window */
  padding: var(--padding-sm);
  padding-block-start: 144px;
  /* Scrolling should happen inside this container */
  overflow: auto;
}

.modal {
  display: flex;
  flex-direction: column;
  background: var(--color-base-neutral00);
  border: 1px solid var(--color-base-neutral40);
  border-radius: theme("borderRadius.md");
}

.header {
  flex: 0 auto;
}

.content {
  flex: 1 1 auto;
  padding-block-end: var(--modal-padding-inline);
  padding-inline-start: var(--modal-padding-inline);
  padding-inline-end: var(--modal-padding-inline);
}

.footer {
  flex: 0 auto;
}
