hr {
  border: none;
  border-bottom: 1px solid var(--border-color);
}

input::-webkit-search-cancel-button {
  appearance: none;
  cursor: pointer;
  position: relative;
  width: 1rem;
  height: 1rem;
  background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20role%3D%22img%22%3E%3Cpath%20d%3D%22M11.904%2012.61l.707-.707-3.89-3.889%203.889-3.888-.707-.707-3.89%203.888L4.126%203.42l-.707.707%203.889%203.888-3.89%203.89.707.707%203.89-3.89%203.89%203.89z%22%20fill%3D%22%2376767A%22%20stroke%3D%22%2376767A%22%20stroke-width%3D%22.5%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E")
    center no-repeat;
  background-size: cover;
}
