:root {
  /* base colors */
  --color-base-neutral100: theme("colors.neutral.100");
  --color-base-neutral90: theme("colors.neutral.90");
  --color-base-neutral80: theme("colors.neutral.80");
  --color-base-neutral70: theme("colors.neutral.70");
  --color-base-neutral60: theme("colors.neutral.60");
  --color-base-neutral40: theme("colors.neutral.40");
  --color-base-neutral30: theme("colors.neutral.30");
  --color-base-neutral20: theme("colors.neutral.20");
  --color-base-neutral10: theme("colors.neutral.10");
  --color-base-neutral05: theme("colors.neutral.05");
  --color-base-neutral00: theme("colors.neutral.00");

  --color-base-greenDark: theme("colors.green.dark");
  --color-base-greenAlert: theme("colors.green.alert");
  --color-base-greenAA: theme("colors.green.DEFAULT");
  --color-base-greenTint: theme("colors.green.tint");

  --color-base-redDark: theme("colors.red.dark");
  --color-base-redAlert: theme("colors.red.alert");
  --color-base-redAA: theme("colors.red.DEFAULT");
  --color-base-redTint: theme("colors.red.tint");

  --color-base-blueDark: theme("colors.blue.dark");
  --color-base-blueAlert: theme("colors.blue.alert");
  --color-base-blueAA: theme("colors.blue.DEFAULT");
  --color-base-blueTint: theme("colors.blue.tint");

  --color-base: theme("colors.neutral.90");
  --color-light: theme("colors.neutral.80");
  --color-lighter: theme("colors.neutral.70");

  /* default custom colors */
  --color-custom80: theme("colors.custom.cream.80");
  --color-custom70: theme("colors.custom.cream.70");
  --color-custom60: theme("colors.custom.cream.60");
  --color-custom20: theme("colors.custom.cream.20");
  --color-custom10: theme("colors.custom.cream.10");

  /* base font styles */
  --font-face-header: var(--font-ilisarniq), sans-serif;
  --font-face-base: var(--font-ilisarniq), sans-serif;
  --font-size-base: 16px;
  --line-height-base: 22px;
  --font-size-base-sm: 14px;
  --line-height-base-sm: 20px;
  --font-size-label-lg: 14px;
  --font-weight-label-lg: 500;
  --line-height-label-lg: 22px;
  --font-size-label-sm: 12px;
  --font-weight-label-sm: 500;
  --line-height-label-sm: 18px;
  --font-size-label-mix: 13px;
  --font-weight-label-mix: 500;
  --line-height-label-mix: 17px;
  --letter-spacing-h1: -1.5px;
  --letter-spacing-h2: -1px;
  --letter-spacing-h3: -0.5px;
  --letter-spacing-label-lg: 1.25px;
  --letter-spacing-label-sm: 1.25px;
  --letter-spacing-label-mix: 0.25px;

  @mixin fluidScalePx --font-size-h1, 60px, 54px, theme("screens.140"),
    theme("screens.70");
  @mixin fluidScalePx --line-height-h1, 66px, 54px, theme("screens.140"),
    theme("screens.70");
  @mixin fluidScalePx --font-size-h2, 46px, 28px, theme("screens.140"),
    theme("screens.50");
  @mixin fluidScalePx --line-height-h2, 54px, 36px, theme("screens.140"),
    theme("screens.50");
  @mixin fluidScalePx --font-size-h3, 28px, 20px, theme("screens.140"),
    theme("screens.50");
  @mixin fluidScalePx --line-height-h3, 36px, 24px, theme("screens.140"),
    theme("screens.50");
  @mixin fluidScalePx --font-size-h4, 20px, 18px, theme("screens.140"),
    theme("screens.50");
  @mixin fluidScalePx --line-height-h4, 24px, 22px, theme("screens.140"),
    theme("screens.50");

  /* font weights */
  --font-weight-regular: theme("fontWeight.regular");
  --font-weight-medium: theme("fontWeight.medium");
  --font-weight-semibold: theme("fontWeight.semibold");
  --font-weight-bold: theme("fontWeight.bold");

  /* grid */
  @mixin fluidScalePx --grid-column-gap-xl, 48px, 16px;
  --grid-column-gap-lg: 2.25rem;
  --grid-column-gap: 1rem;
  --grid-column-gap-sm: 0.5rem;
  --grid-row-gap: 1rem;
  --grid-row-gap-lg: 1.875rem;
  --grid-row-gap-xl: 3.75rem;

  /* borders */
  --border-color: theme("colors.neutral.70");

  /* buttons */
  --button-primary-bg-color: theme("colors.neutral.90");
  --button-primary-bg-hover-color: theme("colors.neutral.70");
  --button-primary-bg-focus-color: theme("colors.neutral.60");
  --button-primary-text-color: theme("colors.neutral.00");
  --button-primary-text-hover-color: theme("colors.neutral.00");
  --button-secondary-bg-color: var(--color-custom10);
  --button-secondary-bg-hover-color: var(--color-custom80);
  --button-secondary-bg-focus-color: var(--color-custom20);
  --button-secondary-text-color: theme("colors.neutral.90");
  --button-secondary-text-hover-color: theme("colors.neutral.00");

  /* container */
  @mixin fluidScalePx --container-padding-xxl, 120px, 100px;
  @mixin fluidScalePx --container-padding-xl, 100px, 80px;
  --container-padding-lg: 5rem;
  --container-padding-md: 3.75rem;
  --container-padding-sm: 2.25rem;
  --container-padding-xs: 1.5rem;
  @mixin fluidScalePx --container-v-padding, 60px, 30px;
  @mixin fluidScalePx --container-v-padding-sm, 60px, 20px;

  @media print {
    --container-padding-xxl: 3.75rem;
    --container-padding-xl: 3.125rem;
    --container-padding-lg: 2.5rem;
    --container-padding-md: 1.875rem;
    --container-padding-sm: 1.125rem;
    --container-padding-xs: 0.75rem;
    --container-v-padding: 0;
    --container-v-padding-sm: 0;
  }

  /* dropdown */
  --dropdown-background: theme("colors.neutral.00");
  --z-index-drawer: theme("zIndex.drawer");
  --z-index-drawer-backdrop: theme("zIndex.drawer-backdrop");
  --z-index-modal: 300;
  --z-index-dropdown: 400;

  /* border radius */
  --border-radius-xs: theme("borderRadius.xs");
  --border-radius-sm: theme("borderRadius.sm");
  --border-radius-md: theme("borderRadius.md");
  --border-radius-lg: theme("borderRadius.lg");
  --border-radius-xl: theme("borderRadius.xl");

  /* padding */
  --padding-xl: theme("spacing.xl");
  --padding-lg: theme("spacing.lg");
  --padding-md: theme("spacing.md");
  --padding-rg: theme("spacing.rg");
  --padding-sm: theme("spacing.sm");
  --padding-xs: theme("spacing.xs");
  --padding-xxs: theme("spacing.xxs");

  /* focus */
  --border-color-focus: theme("colors.neutral.90");
}
