.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-block-start: var(--container-v-padding);
  padding-block-end: var(--container-v-padding);
  padding-inline-start: var(--padding-rg);
  padding-inline-end: var(--padding-rg);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}
