.header {
  padding-block-start: var(--container-padding-lg);
  padding-block-end: 3.5rem;

  > * + * {
    padding-block-start: 3rem;
  }
}

.pageCount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.listItems {
  > * {
    margin-block-start: 1.25rem;
  }
}

.footer {
  padding-block-start: 3.5rem;
  padding-block-end: 7.5rem;
}
