.form {
  padding-block-start: 4.5625rem;
  padding-block-end: var(--container-padding-xl);
  @mixin fluidScalePx padding-block-start, 73px, 40px;
  @mixin fluidScalePx padding-block-end, 80px, 50px;

  @media print {
    display: none;
  }

  .a-bg-custom10 + .a-bg-custom10 & {
    padding-block-start: 0;
    padding-block-end: var(--container-padding-sm);
  }
}

.wrapper {
  display: flex;
  align-items: stretch;
  block-size: 4rem;
  width: 100%;

  @mixin respond theme("screens.50") {
    block-size: 3rem;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 4rem;
  border-bottom: 3px solid var(--color-base-neutral90);

  @mixin respond theme("screens.50") {
    inline-size: 3rem;
  }
}

.input {
  @mixin a-input-reset;

  flex: 1 1 auto;
  padding-block-start: 1.0625rem;
  padding-block-end: 1.25rem;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  border-bottom: 3px solid var(--color-base-neutral20);
  transition: border theme("transitionTimingFunction.DEFAULT")
    theme("transitionDuration.DEFAULT");

  &::-webkit-search-cancel-button {
    width: 2rem;
    height: 2rem;
    margin-block-start: 0.125rem;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border-bottom: 3px solid var(--color-base-neutral60);
  }

  @mixin respond theme("screens.50") {
    @mixin t-h5;
  }
}

.button {
  opacity: 0;

  border-bottom: 3px solid var(--color-base-neutral20);

  &:focus {
    outline: none;
  }

  &:focus-visible {
    opacity: 1;
  }
}
