.link {
  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:focus-visible {
    > span:not(:has(figure:only-child)) {
      @mixin a-link-hover-focus;
    }
  }

  &[aria-current] {
    pointer-events: none;
  }
}
