.inner {
  --grid-column-gap: 0;

  @mixin l-grid;
  grid-template-areas: "left left left left left left left left . right right right";
  @mixin fluidScalePx padding-block-start, 60px, 50px;
  @mixin fluidScalePx padding-block-end, 60px, 32px;

  @mixin respond theme("screens.120") {
    grid-template-areas: "left left left left left left left left right right right right";
  }

  &:has(:global(.alert)) {
    grid-template-areas:
      "alert alert alert alert alert alert alert alert alert alert alert alert"
      "left left left left left left left left . right right right";

    @mixin respond theme("screens.120") {
      grid-template-areas:
        "alert alert alert alert alert alert alert alert alert alert alert alert"
        "left left left left left left left left right right right right";
    }
  }

  &--split {
    padding-block-end: 1rem;
  }

  @mixin respond theme("screens.100") {
    display: flex;
    flex-direction: column;
  }
}

.left {
  grid-area: left;
  display: flex;
  gap: var(--container-padding-md);

  @mixin respond theme("screens.60") {
    flex-direction: column;
  }
}

.textColumn {
  > * + * {
    margin-block-start: var(--padding-md);
  }
}

.thumbColumn {
  inline-size: 225px;
  flex-shrink: 0;

  @mixin respond theme("screens.100") {
    inline-size: 150px;
  }
}

.right {
  grid-area: right;
  display: flex;
  justify-content: flex-end;

  > * + * {
    margin-block-start: var(--padding-rg);
  }

  @mixin respond theme("screens.100") {
    border-top: 1px solid var(--border-color);
    margin-block-start: var(--padding-rg);
    padding-block-start: var(--padding-rg);
    justify-content: flex-start;
  }

  &--split {
    align-items: flex-end;

    @mixin respond theme("screens.100") {
      border-top: none;
      margin-block-start: var(--padding-rg);
      padding-block-start: 0;
    }
  }
}

.columns {
  grid-column: 1 / -1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  inline-size: 100%;
  max-inline-size: calc(
    theme("maxWidth.wide") + var(--container-v-padding) * 2
  );
  padding-inline-start: var(--container-v-padding);
  padding-inline-end: var(--container-v-padding);
  padding-block-start: var(--container-padding-md);
  z-index: 1;
  padding-block-end: var(--container-padding-md);

  &--two-column {
    grid-column: 1;
    max-inline-size: 650px;
    justify-self: end;

    @mixin respond theme("screens.60") {
      grid-column: 1 / -1;
    }
  }
}

.aside {
  display: block;

  &--in-columns {
    padding-block-start: 1.8125rem;
  }
}

.sidebar {
  justify-self: end;

  > li + li {
    margin-block-start: 0.6875rem;
  }
}

.title {
  &:not(:first-child) {
    margin-block-start: var(--padding-sm);
  }
}

.subtitle {
  display: block;
  margin-block-start: 0.75rem;
}

.contributors {
  margin-block-start: var(--padding-lg);
}
