.baseWrapper {
  position: relative;
  height: 300px;
}

.gridWrapper {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1;
  @mixin fluidScalePx max-block-size, 490px, 200px;
  min-block-size: 100%;

  &--two-column {
    grid-column: 2;

    @mixin respond theme("screens.60") {
      grid-column: 1 / -1;
      grid-row: 2;
      min-block-size: 300px;
    }
  }
}

.image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.image--one-column {
  opacity: 0.3;
}
