.outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-custom70);
}

.stat {
  display: block;
  padding-block-start: 20px;

  &--lg {
    @mixin t-h1;
  }

  &--sm {
    @mixin t-h3;
  }

  @mixin respond theme("screens.100") {
    @mixin t-h2;
  }
}

.label {
  @mixin t-label-sm;

  padding-block-end: 6px;
  border-bottom: 1px solid;
}
