.page {
  box-shadow: theme("boxShadow.popUp");
  background-color: var(--neutral10);
  border: 1px solid var(--neutral10);

  canvas {
    width: 100% !important;
    height: auto !important;
  }

  :global(.textLayer),
  :global(.annotationLayer) {
    display: none;
  }
}

.pageNumber {
  @mixin t-copy-sm;

  display: block;
  margin-block-start: var(--padding-sm);
  color: var(--color-lighter);
  text-align: center;
}
