.text {
  margin-block-start: 1rem;
  font-size: var(--font-size-base-sm);
}

.contextOne {
  color: var(--color-base-neutral70);
}

.header {
  margin-block-start: 0.5rem;
}

.subheader {
  display: block;
  color: var(--color-base-neutral70);
  font-size: var(--font-size-base);
  margin-block-start: 0.5rem;
  inline-size: max-content;
}

.link {
  &:hover,
  &:focus-visible {
    :global(.has-focus-styles) {
      @mixin a-link-hover-focus;
    }
  }
}

.contributors {
  display: block;
  margin-block-start: 0.25rem;
  font-weight: var(--font-weight-medium);
}

.group {
  margin-block-start: 1rem;
  color: var(--color-base-neutral70);

  > span {
    display: block;
  }

  > * + * {
    margin-block-start: 0.25rem;
  }
}
