.container {
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-md);

  @mixin respond theme("screens.70") {
    padding-block-start: var(--container-padding-lg);
    padding-block-end: var(--container-padding-lg);
  }
}
.content {
  --button-secondary-bg-color: var(--color-custom20);

  & > * + * {
    margin-block-start: var(--padding-xxs);
  }
}
