.metadataLabel {
  display: block;
  padding-block-end: var(--padding-xs);
  font-weight: var(--font-weight-medium);

  &:not(:first-child) {
    margin-block-start: var(--padding-lg);
  }

  grid-row: auto;
}

.metadataValue {
  color: var(--color-light);
}

.copyLink {
  display: block;
  margin-block-start: var(--padding-xs);

  > button {
    margin-block-start: 1.25rem;
  }
}

.dotList {
  > li {
    display: inline-block;
  }

  > * + * {
    &::before {
      content: "•";
      padding-inline-start: 0.25rem;
      padding-inline-end: var(--padding-xs);
    }
  }
}

.assetButton {
  margin-block-start: 1.5rem;
}

.buttonLink {
  margin-block-start: 1rem;

  svg {
    margin-block-start: 2px;
  }
}

.heroSidebarItem {
  display: flex;
  gap: 0.75rem;
}
