.metadataLabel {
  display: block;
  padding-block-end: var(--padding-xs);
  font-weight: var(--font-weight-medium);

  &:not(:first-child) {
    margin-block-start: var(--padding-lg);
  }

  grid-row: auto;
}

.metadataValue {
  color: var(--color-light);
}

.copyLink {
  display: block;
  margin-block-start: var(--padding-xs);

  > button {
    margin-block-start: 1.25rem;
  }
}
