.metadataLabel {
  display: block;
  padding-block-end: var(--padding-xs);
  font-weight: var(--font-weight-medium);

  &:not(:first-child) {
    margin-block-start: var(--padding-lg);
  }
}

.metadataValue {
  color: var(--color-light);
}
