.summary {
  position: relative;
  list-style: none;
  cursor: pointer;

  > svg[data-open] {
    display: none;
  }

  details[open] & {
    > svg[data-open] {
      display: block;
    }

    > svg[data-closed] {
      display: none;
    }
  }
}

.toggleIcon {
  position: absolute;
  left: -28px;
  top: 0.375rem;
  border-radius: 100%;

  @mixin respond theme("screens.50") {
    left: -22px;
  }

  [aria-disabled] & {
    display: none;
  }

  *:focus-visible & {
    outline: 1px solid var(--border-color);
    outline-offset: 5px;
  }
}
