.section {
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-xxl);

  > * + * {
    margin-block-start: var(--padding-xl);
  }
}

.content {
  > * + * {
    margin-block-start: 1.25rem;
  }
}

.info {
  > * + * {
    margin-block-start: 0.25rem;
  }
}

.image {
  object-fit: contain;
  object-position: left;
  width: 1160px;
}
