.wrapper {
  position: relative;
  padding-block-start: 2.25rem;
  padding-block-end: 2.25rem;
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;
  max-width: 29rem;
}

.button {
  position: absolute;
  top: 0.875rem;
  right: 0.875rem;
}
