.button {
  --shadow-color: var(--color-custom80);

  .a-bg-neutral90 & {
    --shadow-color: var(--color-base-neutral00);
  }

  min-width: 11.5rem;
  justify-content: center;
  overflow: hidden;
  align-items: center;

  > svg {
    margin-block-start: 2px;
  }

  > span {
    white-space: nowrap;
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;

    &:focus-visible {
      opacity: 1;
      box-shadow: 0px 0px 0px 1px var(--shadow-color);
    }
  }

  @mixin respond theme("screens.70") {
    inline-size: 11.5rem;
  }

  a:focus-visible & {
    background: var(--button-primary-bg-hover-color);
    color: var(--button-primary-text-hover-color);
    box-shadow: 0px 0px 0px 1px var(--shadow-color);
  }
}
