.figure {
  position: relative;
  max-width: var(--CoverImage-max-width);
  max-height: var(--CoverImage-max-height);

  > * {
    vertical-align: top;
  }

  *:first-child {
    transition: box-shadow theme("transitionDuration.DEFAULT")
      theme("transitionTimingFunction.DEFAULT");
    border: 1px solid transparent;

    a:hover & {
      @mixin a-image-hover;
    }

    a:focus-visible & {
      @mixin a-image-focus;
    }
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: var(--CoverImage-object-fit, contain);
    object-position: var(--CoverImage-object-position, top);
  }
}
