.container {
  padding-block: var(--container-padding-xl);
}

.heroImage {
  block-size: 20rem;
  inline-size: 15rem;
  grid-area: image;
}

.blockTitle {
  margin-block-end: var(--padding-rg);
  border-bottom: 1px solid;
  padding-block-end: var(--padding-xs);

  &--browse {
    border-bottom: none;
    padding-block-end: 1.5rem;
  }
}

.title {
  a:hover &,
  a:focus-visible & {
    > span {
      @mixin a-link-hover-focus;
    }
  }
}

.grid {
  --grid-col-count: 12;
  --grid-row-gap: 1rem;
  --grid-column-gap: 1rem;
  @mixin l-grid;

  grid-template-areas: "image image image . text text text text text text text text";

  @mixin respond theme("screens.80") {
    grid-template-areas: "image image image image . text text text text text text text";
  }

  @mixin respond theme("screens.70") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text";
  }
}

.textColumn {
  grid-area: text;

  > * + * {
    margin-block-start: 1.5rem;
  }

  &:only-child {
    grid-column: 1 / span 9;

    @mixin respond theme("screens.70") {
      grid-row: 1;
      grid-column: 1;
    }

    *[data-half] & {
      grid-column: 1 / span 12;
    }
  }
}

.entity {
  padding-block-end: 0.75rem;
  border-bottom: 1px solid var(--border-color);
}

.context {
  display: block;
  color: var(--color-base-neutral70);
  font-size: var(--font-size-base-sm);
  margin-block-end: 0.75rem;
}

.metadata {
  display: block;
  color: var(--color-base-neutral70);
  font-size: var(--font-size-base-sm);
  margin-block-start: 0.5rem;
}

.subheader {
  display: block;
  color: var(--color-base-neutral70);
  margin-block-start: 0.25rem;
  font-style: italic;
}
