.outer {
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-xxl);
}

.inner {
  --grid-col-count: 12;
  --grid-column-gap: 1rem;
  --grid-row-gap: 1rem;
  @mixin l-grid;

  grid-template-areas: "text text text text text text text text . toc toc toc";

  @mixin respond theme("screens.100") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "toc"
      "text";
  }
}

.text {
  grid-area: text;

  h1 {
    @mixin t-h2;
  }

  h2 {
    @mixin t-h3;
  }

  h3 {
    @mixin t-h4;
  }

  h4 {
    font-family: var(--font-face-header);
  }
}

.image {
  margin-block-end: var(--padding-lg);
}

.noContent {
  grid-column: 1 / span 12;
}
