.container {
  padding-block: var(--container-padding-xl);
}

.heroImage {
  block-size: 300px;
  background: var(--color-base-blueDark);
  grid-area: image;
  border-radius: 1rem;

  @mixin respond theme("screens.70") {
    min-block-size: 12.5rem;
  }
}

.header {
  padding-block-end: 0.75rem;
  border-bottom: 1px solid var(--border-color);
}

.grid {
  @mixin l-grid;

  grid-template-areas:
    ". text text text text . image image image image image image"
    ". seeAll seeAll seeAll seeAll seeAll seeAll seeAll seeAll seeAll seeAll seeAll";
  row-gap: var(--padding-xl);

  @mixin respond theme("screens.100") {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "text"
      "seeAll"
      "image";
  }
}

.textColumn {
  grid-area: text;
}

.seeAll {
  grid-area: seeAll;
}
