@define-mixin a-link-base {
  cursor: pointer;
  transition: color 170ms ease-in, box-shadow 170ms ease-in,
    text-shadow 170ms ease-in;
}

@define-mixin a-link-hover-focus {
  color: var(--color-base);
  text-shadow: 0.04em 0.04em var(--background-color),
    -0.04em 0.04em var(--background-color),
    -0.04em -0.04em var(--background-color),
    0.04em -0.04em var(--background-color), -0.04em 0 var(--background-color),
    0.04em 0 var(--background-color);
  box-shadow: var(
    --box-shadow-theme,
    0 0.01em 0 0 var(--color-light),
    inset 0 -0.06em 0 0 var(--color-light)
  );
}

@define-mixin a-link {
  @mixin a-link-base;

  &:hover,
  &:focus-visible {
    @mixin a-link-hover-focus;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

@define-mixin a-image-hover {
  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.3),
    0px 0px 0px 1px var(--border-color-focus);
  border-color: var(--border-color);
}

@define-mixin a-image-focus {
  box-shadow: 0px 0px 0px 1px var(--border-color-focus),
    0px 0px 6px rgba(35, 35, 36, 0.2);
}

@define-mixin a-button {
  @mixin t-label-mix;

  display: inline-flex;
  align-items: center;
  transition: color 170ms ease-in, background 170ms ease-in,
    opacity 170ms ease-in;
}

@define-mixin a-input-reset {
  appearance: none;
  border: none;
  cursor: pointer;
  background: transparent;
  color: inherit;
}

@define-mixin a-bg-neutral00 {
  --background-color: var(--color-base-neutral00);
  --color-base: var(--color-base-neutral90);
  --color-light: var(--color-base-neutral80);
  --color-lighter: var(--color-base-neutral70);

  background-color: var(--background-color);
  color: var(--color-base);
}

@define-mixin a-bg-neutral80 {
  @media screen {
    --background-color: var(--color-base-neutral80);
    --color-base: var(--color-base-neutral00);
    --color-light: var(--color-base-neutral30);
    --color-lighter: var(--color-base-neutral30);
    --button-primary-text-color: var(--color-base-neutral90);
    --button-primary-text-focus-color: var(--color-base-neutral00);
    --button-primary-bg-color: var(--color-custom20);
    --button-primary-bg-hover-color: var(--color-base-neutral80);
    --button-primary-bg-focus-color: var(--color-custom20);
    --button-secondary-bg-color: var(--color-base-neutral90);
    --button-secondary-bg-hover-color: var(--color-base-neutral70);
    --button-secondary-bg-focus-color: var(--color-base-neutral70);
    --button-secondary-text-color: var(--color-base-neutral00);
    --border-color-focus: var(--color-base-neutral00);
  }

  background-color: var(--background-color);
  color: var(--color-base);
}

@define-mixin a-bg-neutral90 {
  @media screen {
    --background-color: var(--color-base-neutral90);
    --color-base: var(--color-base-neutral00);
    --color-light: var(--color-base-neutral60);
    --color-lighter: var(--color-base-neutral30);
    --button-primary-text-color: var(--color-base-neutral90);
    --button-primary-text-focus-color: var(--color-base-neutral00);
    --button-primary-bg-color: var(--color-custom20);
    --button-primary-bg-hover-color: var(--color-base-neutral80);
    --button-primary-bg-focus-color: var(--color-custom20);
    --button-secondary-bg-color: var(--color-base-neutral80);
    --button-secondary-bg-hover-color: var(--color-base-neutral70);
    --button-secondary-bg-focus-color: var(--color-base-neutral70);
    --button-secondary-text-color: var(--color-base-neutral00);
    --border-color-focus: var(--color-base-neutral00);
  }

  background-color: var(--background-color);
  color: var(--color-base);
}

@define-mixin a-bg-custom10 {
  @media screen {
    --background-color: var(--color-custom10);
    --color-base: var(--color-base-neutral90);
    --color-light: var(--color-base-neutral80);
    --color-lighter: var(--color-base-neutral80);
    --button-secondary-bg-color: var(--color-base-neutral00);
  }

  background-color: var(--background-color);
  color: var(--color-base);
}

@define-mixin a-bg-custom20 {
  @media screen {
    --background-color: var(--color-custom20);
    --color-base: var(--color-base-neutral90);
    --color-light: var(--color-base-neutral80);
    --color-lighter: var(--color-base-neutral80);
    --button-secondary-bg-color: var(--color-custom10);
    --button-secondary-bg-focus-color: var(--color-custom20);
  }

  background-color: var(--background-color);
  color: var(--color-base);
}
