@define-mixin a-link-base {
  cursor: pointer;
  transition: color theme("transitionTimingFunction.DEFAULT")
      theme("transitionDuration.DEFAULT"),
    box-shadow theme("transitionTimingFunction.DEFAULT")
      theme("transitionDuration.DEFAULT"),
    text-shadow theme("transitionTimingFunction.DEFAULT")
      theme("transitionDuration.DEFAULT");
}

@define-mixin a-link-hover-focus {
  color: var(--color-base);
  text-shadow: 0.04em 0.04em var(--background-color),
    -0.04em 0.04em var(--background-color),
    -0.04em -0.04em var(--background-color),
    0.04em -0.04em var(--background-color), -0.04em 0 var(--background-color),
    0.04em 0 var(--background-color);
  box-shadow: var(
    --box-shadow-theme,
    0 0.01em 0 0 var(--color-light),
    inset 0 -0.06em 0 0 var(--color-light)
  );
}

@define-mixin a-image-hover {
  box-shadow: theme("boxShadow.popUp"),
    0px 0px 0px 1px var(--border-color-focus);
  border-color: var(--border-color);
}

@define-mixin a-image-focus {
  box-shadow: 0px 0px 0px 1px var(--border-color-focus),
    theme("boxShadow.focusGlow");
}
