@define-mixin t-copy {
  font-family: var(--font-face-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}

@define-mixin t-copy-sm {
  font-size: var(--font-size-base-sm);
  line-height: var(--line-height-base-sm);
  letter-spacing: var(--letter-spacing-base-sm);
}

@define-mixin t-label-sm {
  font-family: var(--font-face-base);
  text-transform: uppercase;
  font-size: var(--font-size-label-sm);
  font-weight: var(--font-weight-label-sm);
  letter-spacing: var(--letter-spacing-label-sm);
  line-height: var(--line-height-label-sm);
}

@define-mixin t-label-lg {
  font-family: var(--font-face-base);
  text-transform: uppercase;
  font-size: var(--font-size-label-lg);
  font-weight: var(--font-weight-label-lg);
  letter-spacing: var(--letter-spacing-label-lg);
  line-height: var(--line-height-label-lg);
}

@define-mixin t-label-mix {
  font-family: var(--font-face-base);
  font-size: var(--font-size-label-mix);
  font-weight: var(--font-weight-label-mix);
  letter-spacing: var(--letter-spacing-label-mix);
  line-height: var(--line-height-label-mix);
}

@define-mixin t-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@define-mixin t-h1 {
  font-family: var(--font-face-header);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1, 400);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
}

@define-mixin t-h2 {
  font-family: var(--font-face-header);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2, 400);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
}

@define-mixin t-h3 {
  font-family: var(--font-face-header);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3, 400);
  line-height: var(--line-height-h3);
  letter-spacing: var(--letter-spacing-h3);
}

@define-mixin t-h4 {
  font-family: var(--font-face-header);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4, 400);
  line-height: var(--line-height-h4);
  letter-spacing: var(--letter-spacing-h4);
}

@define-mixin t-h5 {
  font-family: var(--font-face-header);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5, 400);
  line-height: var(--line-height-h5);
  letter-spacing: var(--letter-spacing-h5);
}
