.wrapper {
  --Button-bg-color: var(--button-secondary-bg-color);
  --Button-color: var(--button-secondary-text-color);
  --Button-hover-bg-color: var(--button-secondary-bg-hover-color);
  --Button-hover-color: var(--button-secondary-text-hover-color);
  --Button-focus-color: var(--button-secondary-bg-focus-color);

  position: relative;

  &--default {
    @mixin a-button;
    padding-block-start: 0.375rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;

    background: var(--Button-bg-color);
    color: var(--Button-color);
    border-radius: theme("borderRadius.xl");

    &:hover:not(:focus) {
      background: var(--Button-hover-bg-color);
      color: var(--Button-hover-color);
    }

    &:has(select:focus-visible) {
      background: var(--Button-focus-color);
      box-shadow: 0px 0px 0px 1px var(--border-color-focus),
        theme("boxShadow.focusGlow");
      outline: none;
    }
  }

  &--secondary {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-xs);
    background-color: var(--color-base-neutral00);

    &:has(select:focus-visible) {
      box-shadow: 0px 0px 0px 1px var(--border-color-focus),
        theme("boxShadow.focusGlow");
    }
  }

  &--lg {
    min-height: 2.5rem;
  }

  &--block {
    display: flex;
    width: 100%;
  }

  option {
    color: var(--color-base);

    &:disabled {
      color: var(--color-light);
    }
  }
}

.select {
  @mixin a-input-reset;
  width: 100%;
  padding-inline-end: 1.125rem;

  &:focus {
    outline: none;
  }

  &--secondary {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
  }
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  pointer-events: none;
  right: 12px;
  height: 100%;
}
