.container {
  padding-block: var(--container-padding-lg);
  padding-block-end: var(--container-padding-xl);
}

.header {
  padding-block-end: 1rem;
}

.list {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-block-start: 1.5rem;
  padding-block-end: 2.25rem;
  max-width: 768px;
}
