.content {
  max-inline-size: 48rem;
  padding-block-end: var(--container-padding-xl);
  padding-block-start: var(--container-padding-md);

  h1,
  h2 {
    @mixin t-h3;
  }
}

.loading {
  min-height: 40vh;
  padding-block-start: 20%;
}

.imageWrapper {
  position: relative;
  height: 300px;
}

.heroImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
