.wrapper {
  background-color: var(--dropdown-background);
  border-radius: theme("borderRadius.sm");
  border: 1px solid var(--color-base-neutral30);
  box-shadow: theme("boxShadow.popUp");
}

.list {
  padding-block-start: calc(var(--padding-md) - var(--padding-sm));
  padding-block-end: calc(var(--padding-lg) - var(--padding-sm));
}

.item {
  @mixin t-copy-sm;

  white-space: nowrap;

  > * {
    display: block;
    padding-inline-start: var(--padding-lg);
    padding-inline-end: var(--padding-lg);
    padding-block-start: var(--padding-sm);
    padding-block-end: var(--padding-sm);
  }
}
