.group {
  grid-area: stats;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-block-start: 20px;

  @mixin respond theme("screens.100") {
    flex-direction: row;
  }
  @mixin respond theme("screens.70") {
    flex-direction: column;
  }
}
