.item {
  grid-column: span 3;
  display: flex;
  max-width: 100%;

  > * + * {
    padding-inline-start: 1.25rem;
  }

  @mixin respond theme("screens.100") {
    grid-column: span 6;
  }
  @mixin respond theme("screens.70") {
    grid-column: span 12;
  }
}

.metadata {
  padding-block-start: var(--padding-xs);
}

.orcid {
  > svg {
    margin-block-start: 0.125rem;
    color: var(--color-base);
  }
}
