.inner {
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-xxl);
}

.list {
  @mixin l-grid;

  row-gap: 1.875rem;
  padding-block-start: var(--padding-xl);
}

.item {
  grid-column: span 6;

  @mixin respond theme("screens.70") {
    grid-column: span 12;
  }
}
