.footer {
  padding-block-start: var(--container-padding-xxl);
  padding-block-end: var(--container-padding-sm);

  @media print {
    padding-block-start: var(--container-padding-sm);
  }
}

.inner {
  --grid-row-gap: var(--padding-xl);

  @mixin l-grid;

  grid-template-areas:
    "community community community community community . . . search search search search"
    "about about about about about . . . nav nav nav nav"
    "copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright";

  @mixin respond theme("screens.120") {
    grid-template-areas:
      "community community community community community community . search search search search search"
      "about about about about about about . nav nav nav nav nav"
      "copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright";
  }

  @mixin respond theme("screens.70") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "community"
      "search"
      "nav"
      "about"
      "copyright";
    row-gap: 3.75rem;
  }

  @media print {
    grid-template-columns: 1fr;
    grid-template-areas:
      "community"
      "about"
      "copyright";
    row-gap: var(--padding-lg);
  }
}

.communityName {
  grid-area: community;
}

.search {
  grid-area: search;

  @mixin respond theme("screens.100") {
    display: none;
  }

  @media print {
    display: none;
  }
}

.searchMobile {
  --button-secondary-bg-color: var(--color-base-neutral00);
  grid-area: search;
  display: none;

  @mixin respond theme("screens.100") {
    display: block;
  }

  @media print {
    display: none;
  }
}

.about {
  grid-area: about;
  display: grid;
  grid-auto-flow: row;
  row-gap: 1.875rem;
}

.nav {
  grid-area: nav;

  @media print {
    display: none;
  }
}

.navList {
  columns: 1;
  margin-top: 8px;

  @mixin respond theme("screens.100") {
    columns: 1;
  }
}

.navItem {
  & + & {
    margin-top: 8px;
  }

  button {
    text-align: left;
  }
}

.copyright {
  grid-area: copyright;

  @media screen {
    padding-block-start: 55px;
  }
}

.installationDesktop {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--grid-column-gap);

  &__name {
    display: block;
    @mixin respond theme("screens.100") {
      display: none;
    }
  }
}

.installationMobile {
  display: none;

  @mixin respond theme("screens.100") {
    display: block;
  }
}
