.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  > * + * {
    margin-inline-start: 2.25rem;
  }

  &--condensed {
    > * + * {
      margin-inline-start: 1.75rem;
    }
  }
}

.mobileList {
  > * + * {
    margin-block-start: 2.1875rem;
  }
}
