.wrapper {
  display: grid;
  grid-template:
    "text" auto
    / 1fr;
  gap: var(--padding-lg);

  padding-block-start: 1.75rem !important;
  padding-block-end: 1.875rem !important;
  margin-block-end: 3px;

  & + & {
    border-top: 1px solid var(--color-base-neutral40);
  }

  &--has-thumbnail {
    grid-template:
      "thumbnail text" auto
      / auto 1fr;

    @mixin respond theme("screens.50") {
      grid-template:
        "thumbnail" auto
        "text" auto
        / auto;
    }
  }

  &--thumbnail-right {
    grid-template:
      "text thumbnail" auto
      / 1fr auto;
  }
}

.thumbnail {
  grid-area: thumbnail;
  min-width: 120px;

  @mixin respond theme("screens.50") {
    max-width: 160px;
  }
}

.thumbnailLink {
  a:focus &,
  a:focus-visible & {
    outline: none;
  }

  a:focus-visible & {
    box-shadow: 0px 0px 0px 1px var(--border-color-focus),
      theme("boxShadow.focusGlow");
  }
}

.text {
  grid-area: text;
  flex: 1 1 100%;
}

.headers {
  padding-block-end: 0.75rem;

  > * + * {
    padding-block-start: var(--padding-xs);
  }
}

.summary {
  padding-block-start: var(--padding-sm);
}

.readMore {
  @mixin t-label-sm;
  margin-block-start: 0.625rem;
}
