.wrapper {
  display: flex;
  border: 1px solid var(--color-custom70);
  border-radius: 78px;
  height: 32px;
  width: auto;

  @mixin respond theme("screens.100") {
    width: 100%;
  }
}

.button {
  @mixin t-label-mix;
  white-space: nowrap;
  transition: color 170ms ease-in, background 170ms ease-in,
    opacity 170ms ease-in;
  background-color: var(--color-base-neutral00);
  color: var(--color-custom70);

  &--active {
    background-color: var(--color-custom70);
    color: var(--color-base-neutral00);
  }

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 78px;
    border-bottom-left-radius: 78px;
    padding-inline-start: 20px;
    padding-inline-end: 16px;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 78px;
    border-bottom-right-radius: 78px;
    padding-inline-end: 20px;
    padding-inline-start: 16px;
  }

  &[aria-disabled="true"] {
    cursor: default;
  }

  &:hover:not(:focus):not([aria-disabled="true"]) {
    background: var(--color-custom80);
    color: var(--color-base-neutral00);
  }

  &:focus-visible {
    outline: none;
    background: var(--color-custom20);
    z-index: 10;
  }

  @mixin respond theme("screens.100") {
    width: 50%;
  }
}
