.inner {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-md);
}

.avatar {
  max-width: 60px;
  margin-inline-end: var(--padding-lg);
}

.info {
  max-width: 42.25rem;
}

.roles {
  margin-block-start: var(--padding-xs);
}

.bio {
  margin-block-start: var(--padding-xs);
}
