.container {
  padding-block: var(--container-padding-xl);

  > * + * {
    margin-block-start: 3.125rem;

    &:not(:has(figure)) {
      margin-block-start: 1.5rem;
    }
  }
}

.heroImage {
  min-block-size: 300px;
  background: var(--color-base-blueDark);
}
