/*
  important! is used here because the l-container classes are in a higher cascade
  layer. TODO: make l-container mixins that can be used here instead.
*/
.half {
  padding-block-start: var(--container-padding-xl);
  padding-inline-end: 0 !important;

  *[data-half] + *[data-half] > & {
    padding-inline-start: 0 !important;
    padding-inline-end: var(--container-v-padding);

    @mixin respond theme("screens.70") {
      padding-inline: var(--container-v-padding) !important;
      padding-block-start: 0;
      padding-block-end: var(--container-padding-xl);
    }
  }

  @mixin respond theme("screens.70") {
    padding-inline: var(--container-v-padding) !important;
    padding-block-end: var(--container-padding-md) !important;
  }
}

.divider {
  :global(.a-bg-neutral00) + :global(.a-bg-neutral00) > &,
  :global(.a-bg-custom10) + :global(.a-bg-custom10) > &,
  :global(.a-bg-custom20) + :global(.a-bg-custom20) > &,
  :global(.a-bg-neutral90) + :global(.a-bg-neutral90) > & {
    border-top: 1px solid;
  }
}
