.grid {
  --grid-col-count: 12;
  --grid-row-gap: 1rem;
  --grid-column-gap: 1rem;
  @mixin l-grid;

  @mixin respond theme("screens.70") {
    grid-template-columns: 1fr;
  }
}

.loading {
  grid-column: 1 / span 12;

  @mixin respond theme("screens.70") {
    grid-column: 1;
  }
}

.listColumn {
  grid-column: 1 / span 9;

  @mixin respond theme("screens.70") {
    grid-column: 1;
  }
}

.header {
  grid-column: 1 / span 12;
  padding-block-start: var(--container-padding-lg);
  padding-block-end: 1.5rem;

  > * + * {
    padding-block-start: 2rem;
  }

  &:not(:first-child) {
    padding-block-start: var(--container-padding-sm);
  }

  @mixin respond theme("screens.70") {
    grid-column: 1;
  }
}

.pageCount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding-block-start: 3.5rem;
  padding-block-end: var(--container-padding-xl);

  &:empty {
    padding-block-start: 0;
  }
}

.item {
  padding-block-start: 1.75rem !important;
  padding-block-end: 1.875rem !important;
  margin-block-end: 3px;

  & + & {
    border-top: 1px solid var(--color-base-neutral40);
  }
}
