.header {
  padding-block-start: var(--container-padding-lg);
  padding-block-end: 1.5rem;

  > * + * {
    padding-block-start: 3rem;
  }
}

.pageCount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding-block-start: 3.5rem;
  padding-block-end: 7.5rem;
}

.item {
  padding-block-start: 1.75rem;
  padding-block-end: 1.875rem;
  margin-block-end: 3px;

  & + & {
    border-top: 1px solid var(--color-base-neutral40);
  }
}
