.link {
  position: relative;
  display: inline-flex;
  align-items: center;

  > * + * {
    margin-inline-start: var(--padding-sm);
  }

  > span {
    border-bottom: 2px solid transparent;
    padding-block-start: 0.125rem;
    padding-block-end: 0.125rem;
    transition: border theme("transitionTimingFunction.DEFAULT")
      theme("transitionDuration.DEFAULT");
  }

  &:hover,
  a:hover &,
  &[aria-expanded] {
    > span {
      color: var(--color-lighter);
      border-bottom-color: var(--color-lighter);
    }
  }

  button:focus-visible &,
  a:focus-visible &,
  &:focus-visible,
  &[aria-current] {
    color: var(--color-base);

    > span {
      border-bottom-color: var(--color-base);
    }
  }
}
