.toggle {
  display: none;
  align-items: center;

  @mixin respond theme("screens.100") {
    display: flex;
  }

  > span {
    border-bottom: 2px solid transparent;
    transition: border theme("transitionTimingFunction.DEFAULT")
      theme("transitionDuration.DEFAULT");
  }

  > * + * {
    margin-inline-start: 0.75rem;
  }

  &:hover,
  &:focus-visible {
    > span {
      border-bottom-color: var(--color-lighter);
    }
  }
}

.label {
  @mixin respond theme("screens.30") {
    display: none;
  }
}
