.a-bg-custom10 {
  @mixin a-bg-custom10;
}

.a-bg-neutral00 {
  @mixin a-bg-neutral00;
}

.a-bg-neutral80 {
  @mixin a-bg-neutral80;
}

.a-bg-neutral90 {
  @mixin a-bg-neutral90;
}

.a-link {
  @mixin a-link-base;

  &:hover {
    @mixin a-link-hover-focus;
  }

  &:focus-visible {
    @mixin a-link-hover-focus;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.a-color-light {
  color: var(--color-light);
}

.a-color-lighter {
  color: var(--color-lighter);
}

/* This is at the bottom to avoid a bug in NextJS where similar classes are collapsed. */
.a-bg-custom20 {
  @mixin a-bg-custom20;
}
