.l-container-max {
  max-width: calc(theme("maxWidth.max") + (var(--container-v-padding) * 2));
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: var(--container-v-padding);
  padding-inline-end: var(--container-v-padding);
}

.l-container-wide {
  max-width: calc(theme("maxWidth.wide") + (var(--container-v-padding) * 2));
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: var(--container-v-padding);
  padding-inline-end: var(--container-v-padding);
}

.l-container-wide--p-lg {
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-md);
}

.l-flex {
  display: flex;
  flex-wrap: wrap;

  &--align-center {
    align-items: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--gap {
    gap: 0.75rem;
  }

  &--gap-sm {
    gap: 0.25rem;
  }
}
