.theme-font-ilsarniq {
  --font-face-header: var(--font-ilisarniq), sans-serif;
  --letter-spacing-h1: -1.5px;
  --letter-spacing-h2: -1px;
  --letter-spacing-h3: -0.5px;
  --font-face-base: var(--font-ilisarniq), sans-serif;
  --letter-spacing-label-lg: 1.25px;
  --letter-spacing-label-sm: 1.25px;
  --letter-spacing-label-mix: 0.25px;
}

.theme-font-switzer {
  --font-face-header: var(--font-switzer), sans-serif;
  --letter-spacing-h1: 0.25;
  --letter-spacing-h2: 0.8;
  --letter-spacing-h3: 0.5px;
  --letter-spacing-h4: 0.5px;
  --font-face-base: var(--font-switzer), sans-serif;
  --letter-spacing-base: 0.5px;
  --letter-spacing-label-lg: 1.75px;
  --letter-spacing-label-sm: 1.75px;
  --letter-spacing-label-mix: 0.5px;
}

.theme-font-sentient {
  --font-face-header: var(--font-sentient), serif;
  --letter-spacing-h1: -0.75px;
  --letter-spacing-h2: -0.5px;
  --letter-spacing-h3: normal;
  --letter-spacing-h4: normal;
  --font-face-base: var(--font-libre-franklin), serif;
  --letter-spacing-base: 0.25px;
  --letter-spacing-base-sm: 0.25px;
  --font-size-label-lg: 13.5px;
  --line-height-label-lg: 22px;
  --letter-spacing-label-lg: 1.25px;
  --font-size-label-sm: 11.5px;
  --line-height-label-sm: 18px;
  --letter-spacing-label-sm: 1.25px;
  --font-size-label-mix: 13px;
  --line-height-label-mix: 17px;
  --letter-spacing-label-mix: 0.25px;
}

.theme-custom-cream {
  --color-custom80: theme("colors.custom.cream.80");
  --color-custom70: theme("colors.custom.cream.70");
  --color-custom60: theme("colors.custom.cream.60");
  --color-custom20: theme("colors.custom.cream.20");
  --color-custom10: theme("colors.custom.cream.10");
  --box-shadow-theme: 0 0.01em 0 0 var(--color-light),
    inset 0 -0.06em 0 0 var(--color-light);
}

.theme-custom-blue {
  --color-custom80: theme("colors.custom.blue.80");
  --color-custom70: theme("colors.custom.blue.70");
  --color-custom60: theme("colors.custom.blue.60");
  --color-custom20: theme("colors.custom.blue.20");
  --color-custom10: theme("colors.custom.blue.10");
  --box-shadow-theme: inset 0 -0.07em 0 0 var(--background-color),
    inset 0 -0.14em 0 0 var(--color-light);
}

.theme-custom-gray {
  --color-custom80: theme("colors.custom.gray.80");
  --color-custom70: theme("colors.custom.gray.70");
  --color-custom60: theme("colors.custom.gray.60");
  --color-custom20: theme("colors.custom.gray.20");
  --color-custom10: theme("colors.custom.gray.10");
  --box-shadow-theme: inset 0 -0.11em 0 0 var(--background-color),
    inset 0 -0.18em 0 0 var(--color-light);
}
