/* Headings */
.t-h1 {
  @mixin t-h1;
}
.t-h2 {
  @mixin t-h2;
}
.t-h3 {
  @mixin t-h3;
}
.t-h4 {
  @mixin t-h4;
}

/* Labels */
.t-label-lg {
  @mixin t-label-lg;
}
.t-label-sm {
  @mixin t-label-sm;
}
.t-label-mix {
  @mixin t-label-mix;
}

/* Copy */
.t-copy {
  @mixin t-copy;
}
.t-copy-sm {
  @mixin t-copy-sm;
}
.t-copy-xs {
  font-size: 12px;
}
.t-copy-medium {
  font-weight: var(--font-weight-medium);
}
.t-copy-light {
  color: var(--color-light);
}
.t-copy-lighter {
  color: var(--color-lighter);
}
.t-copy-italic {
  font-style: italic;
}
.t-capitalize {
  text-transform: capitalize;
}
.t-align-center {
  text-align: center;
}

.t-unstyled-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.t-rte {
  a:not([class]),
  a[class=""] {
    text-decoration: underline;
  }

  > * + * {
    margin-block-start: 1.3em;
  }

  ul,
  ol {
    padding-inline-start: 1rem;
  }

  blockquote {
    border-inline-start: 3px solid var(--color-custom60);
    padding-inline-start: 1rem;
  }
}
