.t-h1 {
  @mixin t-h1;
}

.t-rte {
  a:not([class]),
  a[class=""] {
    text-decoration: underline;
  }

  > * + * {
    margin-block-start: 1.3em;
  }

  ul,
  ol {
    padding-inline-start: 1rem;
  }

  blockquote {
    border-inline-start: 3px solid var(--color-custom60);
    padding-inline-start: 1rem;
  }
}
