.link {
  display: flex;
  align-items: center;
  max-height: 40px;
  position: relative;
  max-width: 100%;

  > * + * {
    margin-inline-start: 0.75rem;
  }

  > *:first-child {
    flex: 0 0 auto;
  }
}

.name {
  line-height: 1.25em;
  max-width: 100%;

  a:hover &,
  a:focus-visible & {
    @mixin a-link-hover-focus;
  }
}
