.item {
  --BrowseTreeItem-level: 1;
  @mixin fluidScalePx --BrowseTreeItem-row-margin-left, 25px, 20px;

  position: relative;
  margin-inline-start: calc(
    var(--BrowseTreeItem-row-margin-left) * (var(--BrowseTreeItem-level) - 1)
  );

  > * + * {
    margin-block-start: 0.25rem;
  }

  margin-block-start: 1.25rem;
}

.padStart {
  margin-inline-start: 28px;
}

.contributors {
  display: block;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base-sm);
}

.subheader {
  display: block;
  font-size: var(--font-size-base);
  color: var(--color-lighter);
  margin-block-start: 0.25rem;
  font-style: italic;
}

.accordion {
  margin-inline-start: 28px;
  margin-block-start: 1.25rem;
}
