.inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-block-start: var(--container-padding-md);
  padding-block-end: var(--container-padding-md);

  @mixin respond theme("screens.60") {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-block-start: var(--container-padding-lg);
    padding-block-end: var(--container-padding-lg);
  }
}
