.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-inline-start: calc(var(--padding-lg) * -1);
  margin-block-end: calc(var(--padding-sm) * -1);

  @mixin respond theme("screens.50") {
    flex-direction: column;
  }

  > * {
    margin-inline-start: var(--padding-lg);
    margin-block-end: var(--padding-sm);
  }
}

.disclosure {
  svg {
    margin-block-start: 4px;
  }
}
