.thumbnails {
  max-height: 100vh;
  position: sticky;
  top: 0;
  flex: 1 0 20vw;
  max-width: calc(100px + var(--padding-md));

  @mixin respond theme("screens.50") {
    display: none;
  }
}

.inner {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-inline-end: var(--padding-md);
  margin-inline-end: var(--padding-sm);
}

.link {
  @mixin t-copy-sm;

  display: block;
  margin-bottom: var(--padding-rg);
  text-align: center;
  color: var(--color-lighter);

  canvas {
    border: 1px solid var(--border-color);
    width: 100% !important;
    height: auto !important;
  }
}
