.wrapper {
  position: relative;
  overflow: hidden;
  width: auto;
  height: auto;
  transition: box-shadow theme(transitionDuration.DEFAULT)
    theme(transitionTimingFunction.DEFAULT);

  a:hover & {
    @mixin a-image-hover;
  }

  a:focus-visible & {
    @mixin a-image-focus;
  }
}
